
    h1 {
        animation: spin 5s infinite;
    margin: auto;
    text-align: center;
        color: blueviolet;
    background-color: yellowgreen;
    width: 400px;
    height: 50px;
    }
    @keyframes spin {
        0% {
            border-radius: 50%;
          transform: rotate(-0deg);
        }
    
        50% {
          transform: rotate(-360deg);
          border-radius: 50%;
        }
    
        100% {
          transform: rotate(-0deg);
          border-radius: 0%;
        }
      }
